In [32]:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import csv
import os

homepath=os.path.expanduser("~")

file_path="fi_data.csv"

length = float(input("length값을 입력하세요"))
weight = float(input("weight값을 입력하세요"))
label_dt = input("이것은 '도미'인가요?").strip().lower()

if label_dt == 'y':
    label = "도미"
else:
    label = "빙어"


fish_data = []
fish_data.append([length, weight, label])

file_exists = os.path.exists(file_path)

with open(file_path, mode="a", newline="") as file:  # 'a' 모드로 데이터를 추가
    writer = csv.writer(file)

    if not file_exists:  # 파일이 없을 경우
        # 헤더 추가
        writer.writerow(["length", "weight", "label"])

    # 리스트에 저장된 데이터 쓰기
    writer.writerows(fish_data)

length값을 입력하세요 10
weight값을 입력하세요 20
이것은 '도미'인가요? y

In [33]:
fish_data

[[10.0, 20.0, '도미']]

In [34]:
df = pd.read_csv(f"{homepath}/code/fishmlserv/note/fi_data.csv")

In [35]:
df.tail()

   length  weight label
1    10.0    10.0    도미
2    10.0    10.0    도미
3    10.0    20.0    빙어
4    10.0    20.0    빙어
5    10.0    20.0    도미